<div class="dashboard-container">
  <div class="chart-container">
    <h3>Collaborateur le plus absent</h3>
    <canvas id="mostAbsencesChart"></canvas>
    <p id="mostAbsencesChartMessage" class="no-data-message"></p>
  </div>

  <div class="chart-container">
    <h3>Collaborateur le moins absent</h3>
    <canvas id="leastAbsencesChart"></canvas>
    <p id="leastAbsencesChartMessage" class="no-data-message"></p>
  </div>

  <div class="chart-container">
    <h3>Collaborateur ayant la plus élevée de formations terminée</h3>
    <canvas id="highestTrainingCompletionChart"></canvas>
    <p id="highestTrainingCompletionMessage" class="no-data-message"></p>
  </div>

  <div class="chart-container">
    <h3>Collaborateur ayant la croissance des compétences la plus élevée</h3>
    <canvas id="highestCompetenceGrowthChart"></canvas>
    <p id="highestCompetenceGrowthMessage" class="no-data-message"></p>
  </div>
</div>
