<ng-container *ngIf="(competenceState$ | async) as state" [ngSwitch]="state.appState">
  <div class="container d-flex justify-content-between align-items-center mt-3">
    <div class="text-left">
      <h4 class="title">Liste des compétences</h4>
    </div>
    <nav class="text-right">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html"><i class="bi bi-house-door"></i></a></li>
        <li class="breadcrumb-item"><a href="GererDetailCompetence">Gérer details compétence </a></li>
      </ol>
    </nav>
  </div>
  <div class="container text-right mt-2 mb-2">
    <button class="btn btn-primary" (click)="redirectToAddCollab()" >Ajouter une compétence</button>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card p-3 container mt-2 shadow border-0">

      <div class="row">
        <div class="col-md-12 mt-3">
          <ng-container *ngSwitchCase="'APP_ERROR'">
            <span style="color:red;"> There was an error: {{state.error?.message || 'Unknown error occurred'}}</span>
          </ng-container>
          <ng-container *ngSwitchCase="'APP_LOADING'">
            <div class="d-flex justify-content-center mt-4">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'APP_LOADED'">
            <table class="table table-striped">
              <thead class="thead-light">
              <tr>
                <th class="text-center" scope="col">Nom</th>
                <th class="text-center" scope="col">Description</th>
                <th class="text-center" scope="col">Type Evaluation</th>

                <th class="text-center" scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let competence of state.appData.data.page.content; let i = index;">
                <td class="text-center">{{ competence.name | capitalizeFirst }}</td>
                <td class="text-center">{{ competence.description | capitalizeFirst }}</td>
                <td class="text-center">{{ mapEvaluationValue(competence.scaleType) }}</td>

                <td class="text-center">
                  <button class="btn btn-secondary border-0" (click)="editCompetence(competence)">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button class="btn btn-secondary border-0" (click)="deleteCompetence(competence.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="state.appData.data.page.content.length < 1" role="alert" class="alert alert-secondary">
              No collaborators found
            </div>
            <nav *ngIf="state.appData.data.page.content.length > 0" aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? 'disabled' : ''">
                  <a (click)="goToNextOrPreviousPage('backward', '')" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li *ngFor="let pageNumber of [].constructor(state.appData.data.page.totalPages); let i = index;" class="page-item pointer" [ngClass]="i == (currentPage$ | async) ? 'active' : ''">
                  <a (click)="goToPage('', i)" class="page-link">
                    {{ i + 1 }}
                  </a>
                </li>
                <li class="page-item pointer" [ngClass]="(state.appData.data.page.totalPages - 1) == (currentPage$ | async) ? 'disabled' : ''">
                  <a (click)="goToNextOrPreviousPage('forward', '')" class="page-link" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </ng-container>
        </div>
      </div>
    </div>
  </div>








</ng-container>
