/* add-position.component.scss */
.full-width {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.mat-form-field {
  width: 100%;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}

.align-items-end {
  align-items: flex-end;
}
